In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r"bank.csv")

In [3]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343.0,yes,no,unknown,5,may,1042.0,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45.0,no,no,unknown,5,may,1467.0,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,NaN,yes,no,unknown,5,may,1389.0,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476.0,yes,no,unknown,5,may,579.0,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184.0,no,no,unknown,5,may,673.0,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1.0,yes,no,cellular,20,apr,257.0,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733.0,no,no,unknown,16,jun,83.0,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29.0,no,no,cellular,19,aug,156.0,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0.0,no,yes,cellular,8,may,9.0,2,172,5,failure,no
11161,34,technician,married,secondary,no,0.0,no,no,cellular,9,jul,628.0,1,-1,0,unknown,no

In [4]:
df.isnull().any()

age          False
job          False
marital      False
education     True
default      False
balance       True
housing      False
loan         False
contact      False
day          False
month        False
duration      True
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool